body {
    background-image: url("https://media.istockphoto.com/id/1320530947/vector/boys-and-girl-study-in-computer-class-using-internet-technology.jpg?s=612x612&w=0&k=20&c=3NgC89BE130yZ2sENW8v9TxWBgAkIzM6aZ-UHPAdQVE=");
    background-size: cover; /* Makes the image cover the entire area */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
	   font-size: 1em;
	   font-color:#FF5733;

}
a{
  color:DarkCyan;
background-color:Beige;
}

h1 {
 font-size: 1cm;
color:Navy;
}

.logo {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 99;
}